body {
  background: url(../images/fond.jpg);
  background-size: cover;
  height : 100%;
}

header {
  width: 1100px;
  height: 100px;
  background: url(../images/bannieres.png) no-repeat center center;
  margin: 0 auto;
}

article {
  width: 1020px;
  margin: 0 auto;
  min-height:900px;
  margin-bottom:-10px;
  padding: 40px;
  background-color: #64A2FF;
  text-align: justify;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px 30px 0px 0px;
}
article h2 {
  color: white;
}

section {
  float: left;
  width: 980px;
  min-height:800px;
  margin-top: 70px;
  margin-bottom:-10px;
  position: absolute;
  text-align: justify;
  background-color: #9DC5FF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px 5xp 0px 0px;
  padding: 25px 20px 25px 20px;
}

.txt_btn {
  margin-top: 20px;
  margin-left: -27px;
  font-size: 15px;
  font-family: "Segoe UI";
  color: white;
}

#color1 {
  position: relative;
  float: left;
  margin-right: 10px;
  width: 70px;
  height: 60px;
  list-style-type: none;
  background: #000b8c;
  /* #F99206 */
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

#color1:hover {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  height: 75px;
  bottom: 15px;
}

#color2 {
  position: relative;
  float: left;
  margin-right: 10px;
  width: 70px;
  height: 60px;
  list-style-type: none;
  background: #000b8c;
  /* #E67300 */
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

#color2:hover {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  height: 75px;
  bottom: 15px;
}

#color3 {
  position: relative;
  float: left;
  margin-right: 10px;
  width: 70px;
  height: 60px;
  list-style-type: none;
  background: #000b8c;
  /* #D20000 */
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

#color3:hover {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  height: 75px;
  bottom: 15px;
}

#color4 {
  position: relative;
  float: left;
  margin-right: 10px;
  width: 70px;
  height: 60px;
  list-style-type: none;
  background: #000b8c;
  /* #2BB412 */
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

#color4:hover {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  height: 75px;
  bottom: 15px;
}

#color5 {
  position: relative;
  float: left;
  margin-right: 10px;
  width: 70px;
  height: 60px;
  list-style-type: none;
  background: #000b8c;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

#color5:hover {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  height: 75px;
  bottom: 15px;
}

#color6 {
  position: relative;
  float: left;
  margin-right: 10px;
  width: 70px;
  height: 60px;
  list-style-type: none;
  background: #000b8c;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

#color6:hover {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  height: 75px;
  bottom: 15px;
}

#connexion {
  position: relative;
  float: right;
  margin-left: 170px;
  width: 90px;
  height: 60px;
  list-style-type: none;
  background: #000b8c;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

#connexion:hover {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  height: 200px;
  bottom: 100px;
}

input[type=text], input[type=password] {
  width: 90px;
}

#box{
height:80px;
width:80px;
padding:0;
margin:100px;
border:1px solid black;
font:bold 14px verdana, sans-serif;}

#box div{display:none;}

#box:hover div{
display:block;
width:300px;
position:absolute;
top:0px;
right:0px;
border:1px dashed black;
padding:15px;
font:normal 14px verdana, sans-serif;}

#tableSelect{
    margin-top : -80px;
    margin-left: -155px;
}

#blockInformation{
    padding : 150px;
}

#blockContact{
     padding : 150px;
}

#tableau {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 10px 0;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
#tableau th {
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: #b9c9fe url('http://4.bp.blogspot.com/_xDpoN6UfFFY/S-J2gjh1nPI/AAAAAAAACbg/7lNsVpks2oY/s1600/gradhead.png') repeat-x;
    border-top: 2px solid #d3ddff;
    border-bottom: 1px solid #fff;
    color: #039;
}
#tableau td {
    padding: 8px;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid #fff;
    background: #e8edff url('http://1.bp.blogspot.com/_xDpoN6UfFFY/S-J2f5yBC3I/AAAAAAAACbY/zWXYXsR-w5E/s1600/gradback.png') repeat-x;
}
#tableau tfoot tr td {
    background: #e8edff;
    font-size: 16px;
    color: #99c;
    text-align:center;
}
#tableau tbody tr:hover td {
    background: #d0dafd url('http://4.bp.blogspot.com/_xDpoN6UfFFY/S-J2hsztUzI/AAAAAAAACbo/ztV1CK0RUrE/s1600/gradhover.png') repeat-x;
    color: #339;
}
#tableau a:hover {
    text-decoration:underline;
}
#map {
    margin: auto;
    height: 400px;
    width: 400px;
    border: 2px solid black;
	z-index: 1;
}

